server:
  port: 8080

spring:
  application:
    name: ChatApp

  datasource:
    url: jdbc:mysql://localhost:3306/chat_app
    username: your_mysql_user
    password: your_mysql_password
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  jackson:
    serialization:
      WRITE_DATES_AS_TIMESTAMPS: false

logging:
  level:
    org.hibernate.SQL: debug
    org.springframework.web: info
